{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [
    rebar3_rustler,
    rebar3_hex,
    rebar3_ex_doc
]}.

{cargo_opts, [
    {src_dir, "native/html5ever_nif"}
]}.

{provider_hooks, [
    {pre, [
        {compile, {cargo, build}}
    ]},
    {post, [
        {clean, {cargo, clean}},
        {eunit, {cargo, test}}
    ]}
]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {extras, ["README.md"]},
    {main, "README.md"},
    {source_url, "https://github.com/steinuil/html5ever_nif"}
]}.
